@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply text-brand-dark antialiased overflow-x-hidden;
}

@layer utilities {
  .container-px {
    @apply px-4 min-[420px]:px-6 sm:px-10 lg:px-16;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
